[data-theme="light"] {
    --hl-color: #373D3F !important;
    --hl-bg: #FDFDFD !important;
    --hltools-bg: #F7F7F7 !important;
    --hltools-color: #373D3F !important;
    --hlnumber-bg: #FDFDFD !important;
    --hlnumber-color: #24292E !important;
    --hlscrollbar-bg: #FDFDFD !important;
    --hlexpand-bg: linear-gradient(180deg, rgba(246, 248, 250, 0.1), rgba(246, 248, 250, 0.9)) !important;
}

[data-theme="dark"] {
    --hl-color: #BEBEC6 !important;
    --hl-bg: #1E1E1E !important;
    --hltools-bg: #292B2F !important;
    --hltools-color: #BEBEC6 !important;
    --hlnumber-bg: #1E1E1E !important;
    --hlnumber-color: #DCDCDC !important;
    --hlscrollbar-bg: #1E1E1E !important;
    --hlexpand-bg: linear-gradient(180deg, rgba(40, 44, 52, 0.1), rgba(40, 44, 52, 0.9)) !important;
}

figure.shiki {
    background-color: var(--hl-bg) !important;
    color: var(--hl-color) !important;
}